html {
	background-color:#DCDCDC;
	height:100%;
}

body {
	
	height:100%;
	width:95%;
	background-color:#f5f5f5;
	text-align:center;
	text-align:center;
	margin-left:2%;
}

table{
	clear:both; 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

tr:nth-child(even){
	background-color: #f2f2f2;
	}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #A9A9A9;
  color: white;
  border:1px solid #ddd;
	padding: 8px;
}

td{
	
	border:1px solid #ddd;
	padding: 8px;
}



tr:hover 
{
	background-color: #ddd;
}

tr:hover
{
background-color:gray;
cursor:pointer;
}

label {
	
	float:left;
}

select {
	width:370px;
}

#frm {
	height:1200px;
}

#div_plataformas , #div_conciliaciones {
	
	clear:both;
	width:50%;
	text-align:center;
	margin-left:25%;
	margin-bottom:5px;
	height:21px;
}

#historico {
	
	clear:both;
	width:100%;
	text-align:center;
	margin-left:25%;
	margin-bottom:5px;
	height:150px;
}

#unmatch {
	
	clear:both;
	width:100%;
	text-align:center;
	margin-left:25%;
	margin-bottom:5px;
	height:150px;
}

#divTablaHistor
{
	margin-left:25%;
	width:270px;
	background-color:#DCDCDC;
	height:200px; 
}

#formulario{
	
	clear:both;
}

.encabezado
{
	background-image:url(encabezado.jpg);
	background-color:#000000;
	background-repeat:no-repeat;
	text-align:center;
	width: 100%;
	hight: 150px;
}

.labelLeft {
	
	text-align:left;
	width:50%;
	
}

.divLeft {
	
	float:left;
	width:50%;
	background-color:#DCDCDC;
}

.divRight {
	
	float:Right;
	width:50%;
}
